@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-gray-100: #f4f4f4;
  --color-gray-200: #eaeaea;
  --color-gray-300: #888888;
  --color-gray-400: #2f2f2f;

  --color-rose-light: #EBC2C2;
  --color-rose-base: #D68080;
  --color-rose-dark: #B96767;

  --color-wine-light: #A56D6D;
  --color-wine-base: #732C2C;
  --color-wine-dark: #582121;
  --font-sans: "Poppins", sans-serif;

  --shadow-sm: 0px 2px 4px 0px rgba(47, 47, 47, 0.05);
  --shadow-md: 0px 4px 8px 0px rgba(47, 47, 47, 0.1);
}

body {
  @apply bg-gray-200 text-gray-400;
}
